<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js"></script>
<script type="module">
    import { createNightowl } from '@bufferhead/nightowl';
    createNightowl({
        defaultMode: 'dark',
        toggleButtonMode: 'newState'
    });
</script>
  </head>
  <body>
    <main>
      {% include 'header.njk' %}
      {{ content | safe }}
      {% include 'footer.njk' %}
    </main>
  </body>
</html>